@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary_text_color: #fff;
  --primary_background_color: #121212;
  --secondary_background_color: #191919;
  --pink_color: #ff4655;
  --barlow: "Barlow Condensed", sans-serif;
  --oswald: "Oswald", sans-serif;
}

/* =================== common css ================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
ul,
ol,
img,
a {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  margin: auto;
}

.Subcontainer {
  max-width: calc(1320px - 786px);
  margin: auto;
}

/* =================== common css ================ */
/* =================== Navbar css ================ */
nav {
  position: absolute;
  padding: 30px 0;
  width: 100%;
  background-color: transparent;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  padding-left: 60px;
  padding-right: 453px;
}
.menu__item ul {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.list__item a {
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 400;
}
.icons {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  align-items: center;
}

.first--icon {
  margin-top: 5px;
}
.last--icon {
  margin-top: 10px;
}
.icons__item {
  font-size: 17px;
  color: var(--primary_text_color);
}

.signin--text {
  font-family: var(--oswald);
  color: var(--primary_text_color);
  font-size: 16px;
  font-weight: 400;
}

.signin--text i {
  margin-right: 10px;
}
/* =================== Navbar css ================ */
/* =================== Banner css ================ */
#banner__part {
  padding: 280px 0 108px;
  background: url("../images/banner.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 118% 121%;
}

.banner__subtitle {
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 5px;
  letter-spacing: 2.7px;
}

.banner__title {
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 5px;
  position: relative;
}

.banner__title::after {
  position: absolute;
  content: "";
  left: 39%;
  bottom: 19%;
  width: 90px;
  height: 4px;
  background-color: var(--primary_text_color);
}

.banner__summary {
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 400;
  max-width: 523px;
  margin-bottom: 48px;
}

.banner__button {
  border-bottom: none;
  padding: 13px 24px;
  color: #121212;
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--primary_text_color);
  cursor: pointer;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.banner__button i {
  color: var(--pink_color);
  vertical-align: middle;
  margin-left: 4px;
}

.banner__button:hover {
  background-color: var(--pink_color);
  color: var(--primary_text_color);
}

.banner__button:hover i {
  color: var(--primary_text_color);
}
.socialIcon {
  padding-top: 300px;
}
.socialIcon__item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: var(--pink_color);
  margin-right: 10px;
  background-color: var(--primary_text_color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.socialIcon__item:hover {
  background-color: var(--pink_color);
  color: var(--primary_text_color);
}

/* =================== Banner css ================ */

/* =================== About css ================ */
#about_part {
  padding: 34px 0 82px;
  background-color: var(--primary_background_color);
}
.about {
  display: flex;
  justify-content: flex-start;
}

.about__title {
  max-width: 518px;
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  position: relative;
}

.about__title::after {
  position: absolute;
  content: "";
  bottom: 10px;
  right: 185px;
  width: 120px;
  height: 3px;
  background-color: var(--pink_color);
}

.aboutDescription {
  display: flex;
  column-gap: 82px;
  margin-top: 64px;
}

.leftside {
  position: relative;
  z-index: 1;
}
.backgroundBorder {
  position: absolute;
  top: -1.5%;
  left: -1%;
  height: 200px;
  width: 200px;
  z-index: -1;
  background-color: var(--pink_color);
}

.count {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count__item {
  width: 315px;
  padding: 26px;
  text-align: center;
  background-color: var(--secondary_background_color);
  color: var(--primary_text_color);
  /* border-radius: 0px 50px; */
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.item_title {
  font-family: var(--barlow);
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1.8px;
  position: relative;
  margin-bottom: 5px;
}

.item_title::after {
  position: absolute;
  content: "";
  bottom: 13px;
  right: 73px;
  width: 10px;
  height: 10px;
  background-color: var(--pink_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.item_description {
  font-family: var(--oswald);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.36px;
}

.rightSide__title {
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0.81px;
}

.list__item {
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 18px;
  font-weight: 400;
  margin-top: 7px;
}
.checkmark {
  color: var(--pink_color);
  margin-right: 10px;
}

.rightSide_description {
  margin-top: 13px;
  max-width: 468px;
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.rightSide__btn {
  margin-top: 43px;
  padding: 13px 24px;
  background-color: var(--secondary_background_color);
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.doubleArrow {
  margin-left: 5px;
}

.rightSide__btn:hover {
  background: var(--pink_color);
}

/* =================== About css ================ */

/* =================== Game css ================ */
#game_part {
  padding: 115px 0 90px;
  background-color: var(--secondary_background_color);
}

.gameHeading {
  display: flex;
  justify-content: flex-end;
}

.gameHeading__title {
  max-width: 454px;
  text-align: end;
  text-align-last: end;
  color: var(--primary_text_color);
  font-family: var(--barlow);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  position: relative;
}

.gameHeading__title::before {
  position: absolute;
  content: "";
  left: 37%;
  bottom: 9%;
  width: 105px;
  height: 3px;
  background-color: var(--pink_color);
}

.gameCharacter {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameCharacter__left {
  position: relative;
  width: 651px;
  height: 400px;
  background-color: var(--pink_color);
  transform: skew(-16deg, 0deg);
  -webkit-transform: skew(-16deg, 0deg);
  -moz-transform: skew(-16deg, 0deg);
  -ms-transform: skew(-16deg, 0deg);
  -o-transform: skew(-16deg, 0deg);
}

.valorantImg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* =================== Game css ================ */

/* ====================== moive part =============== */

.moive {
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moive__item1 {
  position: relative;
  width: 427px;
}
.moiveImg {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 38%;
  color: var(--primary_text_color);
  font-family: var(--barlow);
  padding: 25px;
}

.overlay__icon {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 70px;
  color: var(--primary_text_color);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}

.overlayDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay__title {
  font-family: var(--barlow);
  font-size: 22px;
  font-weight: 600;
}
.overlayDescription__left {
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.48px;
}
.overlayDescription__right {
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.overlayDescription__right::before {
  position: absolute;
  content: "";
  bottom: 4px;
  left: -15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--pink_color);
}

.second--image {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.match {
  padding: 60px 0 90px;
}

.match__title {
  text-align: center;
  color: var(--primary_text_color);
  font-family: var(--barlow);
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2.25px;
}
.matchBox {
  padding-top: 22px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: space-between;
}

.matchBox__item {
  display: flex;
  align-items: center;
  column-gap: 140px;
  padding: 10px 0;
  width: 426px;
  background-color: var(--secondary_background_color);
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  cursor: pointer;
}

.matchBox__item:hover {
  background: var(--pink_color);
}

.matchBox--item:hover {
  background-color: transparent;
}

.matchBox__item__description {
  color: var(--primary_text_color);
  font-family: var(--barlow);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.96px;
}

.matchBox--item {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.matchBox--lastItem {
  padding-left: 38px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%);
}
/* =================== About css ================ */

/* =================== sale css ================ */
#sale_part {
  padding: 90px 0 90px;
  background-color: var(--secondary_background_color);
}

.sale--title::before {
  left: 259px;
}

.sales {
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sales__item {
  width: 315px;
}

.sale_img {
  position: relative;
}

.ovelay_icon {
  position: absolute;
  top: 0%;
  right: 0;
  width: 100%;
  height: 100%;
}
.plus__icon {
  position: absolute;
  right: 15px;
  color: var(--primary_text_color);
  font-size: 30px;
  background-color: #121212;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.item__tile {
  margin-top: 18px;
  color: var(--primary_text_color);
  font-family: var(--barlow);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.54px;
}

.item__subtitle {
  color: #666;
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding: 20px 0;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.price__1st {
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 14px;
  font-weight: 400;
  padding: 4px 6px;
  background-color: var(--pink_color);
}

.price__2nd {
  font-family: var(--oswald);
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.price__3rd {
  color: var(--primary_text_color);
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 400;
}
/* =================== sale css ================ */
/* =================== catalog css ================ */
#catalog {
  padding: 30px 0;
  background-color: var(--secondary_background_color);
}

.catalog__title {
  color: var(--pink_color);
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.cPrent {
  display: flex;
  /* justify-content: space-between; */
}

.cPrent__left {
  width: 50%;
  height: 454px;
  background-color: #191919;
}

.Cbox__title {
  color: var(--primary_text_color);
  font-family: var(--barlow);
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
}
.Cbox__summary {
  color: #666;
  font-family: var(--oswald);
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0 25px;
}

.Cbox__btn {
  padding: 13px 31px;
  color: var(--primary_text_color);
  font-family: var(--oswald);
  background-color: var(--secondary_background_color);
  font-size: 16px;
  font-weight: 500;
  border-bottom: none;
  border-right: none;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.Cbox__btn:hover {
  background-color: var(--pink_color);
  border-color: var(--pink_color);
}

/* .cPrent__right {
  width: 50%;
  height: 454px;
  background-color: var(--pink_color);
}

.cparentImages {
  margin: auto;

  position: relative;
}
.cparentImages__item1 {
  position: absolute;
  left: 143px;
  top: 0px;
}

.cparentImages__item2 {
  position: absolute;
  right: 157px;
  top: 0px;
}

.cparentImages__item3 {
  position: absolute;
  right: 311px;
  top: 0px;
}

.cparentImages__item4 {
  position: absolute;
  right: 178px;
  top: 0px;
}

.cparentImages__item5 {
  position: absolute;
  right: 214px;
  top: -11px;
} */

.nayan {
  width: 426px;
  background: #000;
  position: relative;
}

.one {
  height: 370px;
  width: 258px;
  background: #ff7272;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 9;
}

.two {
  height: 305px;
  width: 209px;
  background: #72ff85;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.three {
  height: 305px;
  width: 209px;
  background: #ff9572;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.four {
  height: 330px;
  width: 219px;
  background: #df9100;
  position: absolute;
  right: 37px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.five {
  height: 330px;
  width: 219px;
  background: #b172ff;
  position: absolute;
  left: 37px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* =================== catalog css ================ */
